
<head>
   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>{{site.name}} | {{site.blog_tag}}</title>
	<meta name="description" content="{{site.blog_description}}">  
	<meta name="author" content="{{site.blog_author}}">

	<!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

   <!-- CSS
    ================================================== -->
   <link rel="stylesheet" href=" {% link /assets/css/default.css %}">
	<link rel="stylesheet" href=" {% link /assets/css/layout.css %}">  
	<link rel="stylesheet" href="{% link /assets/css/media-queries.css %}"> 

   <!-- Script
   ================================================== -->
	<script src="{% link /assets/js/modernizr.js %}"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{% link /assets/images/favicon.png %}">

</head>