<div class="container education-container">
    <h3>{{ site.education_title | default: "Education" }}</h3>

    {% for education in site.data.education %}
        <div class="row clearfix education">
            <div class="col-xs-12 col-sm-4 col-md-3 left-column">
                <h4>{{ education.name }}</h4>
                <p>{{ education.dates }}</p>
                <p><b>{{ education.qualification }}</b></p>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                {%- if education.quote -%}
                    <p class="quote">{{ education.quote }}</p>
                {%- endif -%}
                {% assign paragraphs = education.description | strip | newline_to_br | split: '<br />' %}
                {% for paragraph in paragraphs %}
                    {{ paragraph | markdownify }}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
