<div class="container footer-container">
  <p>
    {{ site.name | escape }} -
    <a href="mailto:{{ site.email }}" target="_blank">{{ site.email | escape }}</a>
    {%- if site.footer_show_references -%}
      &nbsp;- {{ site.references_title | default: "References on request" }}
    {%- endif -%}
  </p>
</div>

{% if site.darktoggle == true %}
<a target="_blank" style="position: fixed; bottom: 20px; right: 20px; " class="button button--sacnite button--round-l text-center" onclick="modifyTheme()">
    <i id="dark-theme-button" class="far fa-lightbulb fa-2x" style="position: sticky; padding-top: 20px;" title="Dark Mode"></i>
</a>
{% endif %}
