					<header class="entry-header">

						<h2 class="entry-title">
							We All Love Good Typography.
						</h2> 				 
				
						<div class="entry-meta">
							<ul>
								<li>July 11, 2014</li>
								<span class="meta-sep">&bull;</span>							
								<li>
									<a href="#" title="" rel="category tag">Wordpress</a>,
									<a href="#" title="" rel="category tag">Ghost</a>  
								</li>
								<span class="meta-sep">&bull;</span>
								<li>Jane Doe</li>
							</ul>
						</div> 
				 
					</header> 