					<header class="entry-header">

						<h2 class="entry-title">
							{{post.title}}
						</h2> 				 
				
						<div class="entry-meta">
							<ul>
								<li>{{post.date }}</li>
								<span class="meta-sep">&bull;</span>							
								<li>
									<a href="#" title="" rel="category tag">Wordpress</a>,
									<a href="#" title="" rel="category tag">Ghost</a>  
								</li>
								<span class="meta-sep">&bull;</span>
								<li>{{post.author}}</li>
							</ul>
						</div> 
				 
					</header> 