---
# Front matter comment to ensure Jekyll properly reads file.
---

@import "base";
@import "type";

ul.icons a:hover {
    background: rgba(0, 0, 0, 0.025);
}

ul.icons li {
    display: inline-block;
    padding-left: 0.75em;
}

ul.icons a {
    box-shadow: none;
    padding:0;
}

.icons i {
    font-size: 30px;
    line-height:60px;
}

.icons {
  padding: 0;
  font-size: 1em;
  margin-bottom:20px;
}

.header-right p {
  margin-bottom: 3px;
}

.header-right a{
  color:inherit;
  font-weight:500;
}

@media (max-width: 768px) {
    .header-contianer div{
        text-align: center;
    }

    .header-right p {
      text-align: center;
    }

    .header-left {
      margin-top: 0px;
    }
}

.profile-img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
  border-radius: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: repeat, no-repeat;
  -moz-box-shadow: inset 0 0 20px #636161;
  -webkit-box-shadow: inset 0 0 20px #636161;
  box-shadow: inset 0 0 20px #636161;
}

.into-text-1 {
  margin-top:30px;
}

@media only screen and (max-width : 992px) {
  .into-text-1 {
    margin-top:20px;
  }
}

.left-column a {
  font-size: 2em;
  color: inherit;
  font-style: italic;
  font-weight: 300;
}

.left-column p {
  text-align: left;
  margin-bottom: 3px;
  font-size: 1.6em;
}

.experience, .education, .project {
  margin-top:30px;
}

.footer-container {
  margin-top:100px;
}

.footer-container p{
  text-align: center;
  font-style: italic;
  font-weight: 300;
}

.footer-container a{
  color: inherit;
  font-style: italic;
  font-weight: 300;
}

.page-content {
  padding: 0;
}

.contact a {
  line-height: 50px;
  margin-left: 30px;
  color: #BBBBBB;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.contact a:hover {
  color: #4C4C4C;
}

p.quote {
  font-size: 1.6em;
  font-style: italic;
  padding: 10px 50px;
}
