<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->

{%- include blog_head.html -%}

<body>

	{%- include blog_header.html -%}  
	{%- include blog_nav.html -%}  
	{{ content }}  
	{%- include blog_footer.html -%}  
	
 <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="/assets/js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="/assets/js/jquery-migrate-1.2.1.min.js"></script>  
   <script src="/assets/js/main.js"></script>

</body>

</html>