<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">

      {%- include about.html -%}

      {%- include publications.html -%}

      {%- include service.html -%}
      
      {%- include project.html -%}

      {%- if site.data.education.size > 0 -%}
        {%- include education.html -%}
      {%- endif -%}

      {%- include honors.html -%}

      {%- if site.data.teaching_experience.size > 0 -%}
        {%- include teaching_experience.html -%}
      {%- endif -%}

      {%- if site.data.projects.size > 0 -%}
        {%- include projects.html -%}
      {%- endif -%}

      {%- if site.more_content -%}
        {%- include more.html -%}
      {%- endif -%}

    </div>
  </main>

  {%- include footer.html -%}

</body>

</html>
